<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">{{appTitle}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav nav-pills w-100">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipe </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active">Authenticate</a>
        </li>
        <li ngbDropdown class="nav-item dropdown ml-auto">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>{{name | titlecase}}</strong>&nbsp;<i class="fas fa-user" [style.color]="isAuthenticated ? 'green' : 'red'"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *ngIf="isAuthenticated">
            <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
            <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
            <a class="dropdown-item" style="cursor: pointer;" (click)="onLogOut()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>